.menu {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(168, 168, 168);
    border-radius: 10px;
    padding: 10px 20px;
}



.item {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.active {
    color: rgb(60, 125, 255);
    text-decoration: none;
}
