.app-wrapper {
  background-color: rgb(226, 226, 226);
  height: 100vh;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
  width: 1000px;
  margin: 0 auto;
}

.app-wrapper-content {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px;
}