.nav {
  grid-area: n;
  background: linear-gradient(rgb(15, 15, 15), rgb(32, 32, 32));
  border-radius: 10px;
}

.item a {
    padding: 0 5px;
    color: rgb(55, 175, 255);
    text-decoration: none;
}

.item a:hover {
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.profile {
  border-radius: 10px 10px 0 0;
}

.item a.active {
  color: rgb(255, 255, 255);
}